OPENAI_API_KEY=buraya-openai-api-keyini-yaz
PORCUPINE_ACCESS_KEY=buraya-porcupine-access-keyini-yaz
SPOTIFY_CLIENT_ID=buraya-spotify-client-id-yaz
SPOTIFY_CLIENT_SECRET=buraya-spotify-client-secret-yaz
OPENWEATHER_API_KEY=buraya-openweather-api-keyini-yaz
